{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div >
    <div align="center">
        <h1 class="font-weight-bolder display-2">Welcome To RecAnime!</h1>
    </div>
</div>
<!--<a href="/" id="nolinks"><img src="{{url_for('static', filename="images/white haired boy.jpeg")}}-->
<!--    ", width="300" ,height="300"></a>-->
<div align="center">
    <img src="static/images/mountains.png" width="1100" height="600">
<!--    <img src="https://gifdb.com/images/high/galaxy-gurren-lagann-simon-awl6r99ut5srfu7b.gif">-->
</div>
{% endblock %}


