{% extends 'base.html' %}
{% block title %}Popular Page{% endblock %}
{% block content %}
<h1>Most Popular Anime</h1>
<h3>Top 5</h3>
<ol>
    <li>
        <h5>One Piece</h5>
        <img src="{{url_for('static', filename="images/one_piece-1.jpeg")}}",
        width="300", height="350">
    </li>
    <li>
        <h5>Shingeki no Kyojin: The Final Season</h5>
        <img src="{{url_for('static', filename="images/AOT.jpg")}}",
        width="300", height="350">
    </li>
    <li>
        <h5>Jujutsu Kaisen (TV)</h5>
        <img src="{{url_for('static', filename="images/Juju.jpeg")}}",
        width="300", height="350">
    </li>
    <li>
        <h5>Black Clover</h5>
        <img src="{{url_for('static', filename="images/black_clover_1.jpeg")}}",
        width="300", height="350">
    </li>
    <li>
        <h5>Naruto: Shippuden</h5>
        <img src="{{url_for('static', filename="images/naruto_shippuden_1.jpg")}}",
        width="300", height="350">
    </li>

</ol>
<br>
<br>
<br>
<br>
<br>
<br>

<h1>Top 50 Graph</h1>
<br>
<br>
<img src="{{url_for('static', filename="images/most_watched_anime.png")}}
    ", width="700" ,height="700">
{% endblock %}