{% extends 'base.html' %}
{% block title %}Popular Page{% endblock %}
{% block content %}
<div align="center">
    <h1 class="Display-1 font-weight-bolder">Most Popular Anime</h1>
    <h3 class="Display-3 font-weight-bolder">Top 5</h3>
</div>


<div class="container">
<div class="row">
        <h5>One Piece</h5>
        <img src="{{url_for('static', filename="images/one_piece-1.jpeg")}}",
        width="300", height="350">

        <h5>Shingeki no Kyojin: The Final Season</h5>
        <img src="{{url_for('static', filename="images/AOT.jpg")}}",
        width="300", height="350">

        <h5>Jujutsu Kaisen (TV)</h5>
        <img src="{{url_for('static', filename="images/Juju.jpeg")}}",
        width="300", height="350">

        <h5>Black Clover</h5>
        <img src="{{url_for('static', filename="images/black_clover_1.jpeg")}}",
        width="300", height="350">
    </div>
        <div align="center">
            <h5>Naruto: Shippuden</h5>
            <img src="{{url_for('static', filename="images/naruto_shippuden_1.jpg")}}",
            width="300", height="350">
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h1 class="Display-1 font-weight-bolder">Interactive Tableau Boards</h1>
<!--    <h1>Top 50 Graph</h1>-->
<!--    <br>-->
<!--    <br>-->
<!--    <img src="{{url_for('static', filename="images/most_watched_anime.png")}}-->
<!--    ",  width="700" ,height="700">-->
    <h3>
        The Rating and Source sheet of this dashboard shows how many watchers there are per the audience rating.
        Each rating also has the source of the anime with the watch numbers as well
    </h3>
<!--    Code for the dashboard-->
    <div class='tableauPlaceholder' id='viz1705767340225' style='position: relative'><noscript><a href='#'>
        <img alt='Most Watch by Rating, Source, and Episodes ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;
        Mo&#47;MostWatchedDashboard&#47;MostWatchbyRatingSourceandEpisodes&#47;1_rss.png' style='border: none' /></a></noscript><object
        class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
        <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name'
        value='MostWatchedDashboard&#47;MostWatchbyRatingSourceandEpisodes' /><param name='tabs' value='no' />
        <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;
        images&#47;Mo&#47;MostWatchedDashboard&#47;MostWatchbyRatingSourceandEpisodes&#47;1.png' /> <param name='animate_transition'
        value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' />
        <param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' />
        <param name='filter' value='publish=yes' /></object></div><script type='text/javascript'>
        var divElement = document.getElementById('viz1705767340225'); var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='827px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    <br>
    <h1 class="Display-2 font-weight-bolder">Most Watched Anime</h1>
    <h3 class="font-weight-bolder">
        This Dashboard shows you how many people watched each anime, as well as how
        many people dropped it and completed it. The anime where there aren't any episodes are ongoing anime.
    </h3>
    <br>
    <div class='tableauPlaceholder' id='viz1705779305548' style='position: relative'><noscript><a href='#'><img alt='Dashboard 2'
         src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mo&#47;MostWatchedAnimeDashboard&#47;
         Dashboard2&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'>
         <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' />
         <param name='site_root' value='' /><param name='name' value='MostWatchedAnimeDashboard&#47;Dashboard2' />
         <param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image'
         value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Mo&#47;MostWatchedAnimeDashboard&#47;Dashboard2&#47;
         1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param
         name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count'
         value='yes' /><param name='language' value='en-US' /></object></div><script type='text/javascript'>
         var divElement = document.getElementById('viz1705779305548'); var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='727px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
</div>


{% endblock %}